.gray {
	background: $lightgray;
}

.skyblue {
	background: $darkblue;
}

.lightblue {
	background: $lightblue;
}

.lightblue {
	background: $lightblue;
}

.lightred {
	background: $lightred;
}

.orange {
	background: $orange;
}

.darkgray {
	background: $darkgray;
}

.black {
	background: $black;
}

.white {
	background: $white;
}
