.l-submit{
	@include pc{
		width: 100px;
	}
	@include sp {
		width: 30vw;
	}
	padding: 11px 0 8px;
	border-radius: 2px;
}

.two-btn{
	@include pc{
		margin: 0 50px;
	}
	@include sp {
		margin: 0 5vw 0 10vw;
	}
	float: right;
}

.portbtn {
	text-decoration: none;
	border-top: solid 1.5px $btngray;
	border-left: solid 1.5px $btngray;
	border-bottom: solid 1.5px gray;
	border-right: solid 1.5px gray;
}

.l-backButton {
	padding: 0.3em 1em;
	border: solid 3px $darkblue;
	border-radius: 3px;
}
