body {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

.l-table {
	margin: 7.5vw auto;
	padding: 15px 15px;
	height: 300px;
}

.l-table input[type="text"],
.l-table input[type="password"] {
	width: 200px;
	height: auto;
	line-height: 20px;
	outline: 0;
	padding: 4px 9px;
	border-radius: 10px;
}

.l-table .passbtn {
	padding: 0 0 20px 0;
}

.l-submit {
	padding: 11px 0 8px;
	border-radius: 2px;
}

.two-btn {
	float: right;
}

.portbtn {
	text-decoration: none;
	border-top: solid 1.5px #dddddd;
	border-left: solid 1.5px #dddddd;
	border-bottom: solid 1.5px gray;
	border-right: solid 1.5px gray;
}

.l-backButton {
	padding: 0.3em 1em;
	border: solid 3px #0033CC;
	border-radius: 3px;
}

.loginForm input[type="text"],
.loginForm input[type="password"] {
	box-sizing: content-box;
	color: #666666;
	font-size: 13px;
	font-weight: 300;
}

.loginForm .switchLink {
	color: #0033CC;
}

.planThead tr th {
	color: #2b2b2b;
	font-weight: bold;
	border-bottom: 3px solid #0cc0cc;
	text-align: center;
}

.planTbody tr {
	height: 5vh;
}

.planTbody td {
	color: #666666;
	border-bottom: 1px solid #d3d3d3;
	text-align: center;
}

.gray {
	background: #d3d3d3;
}

.skyblue {
	background: #0033CC;
}

.lightblue {
	background: #3ba3cd;
}

.lightblue {
	background: #3ba3cd;
}

.lightred {
	background: #e41a12;
}

.orange {
	background: #ffeccc;
}

.darkgray {
	background: #a9a9a9;
}

.black {
	background: #2b2b2b;
}

.white {
	background: #ffffff;
}

.submit {
	color: #ffffff;
	display: block;
	cursor: pointer;
	font-size: 13px;
}

.link {
	text-decoration: none;
}

.backButton {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	color: #0033CC;
	background: #ffffff;
	font-weight: bold;
	transition: .4s;
}

.backButton:hover {
	background: #0033CC;
	color: #ffffff;
}

.backpostion {
	margin: 1vw 0 0 3vw;
}

.cbform {
	text-align: center;
}

.cbform textarea {
	margin-left: 4vw;
	border-radius: 10px;
}

.bbsTable {
	width: 90vw;
	margin-left: 5vw;
}

.bbsTime {
	width: 15vw;
}

.bbsName {
	width: 15vw;
}

.bbsContent {
	width: 50vw;
}

.pager {
	margin-top: 20px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	text-align: center;
}

.pager a {
	float: left;
	color: #2b2b2b;
	text-decoration: none;
	display: block;
	padding: 0.6em 1em;
	border-radius: 5px;
	margin-right: 10px;
}

.pager a:hover {
	background: #d3d3d3;
}

.pager .current {
	background: #d3d3d3 !important;
}

.mgR1 {
	margin-right: 1vw;
}

.mgL1 {
	margin-left: 1vw;
}

.calendarTable {
	text-align: center;
}

.calendarTable .isToday {
	background-color: #ffeccc;
}

.calendarTable td {
	border: solid 1px black;
}

.calendarTable td:nth-child(7n-6),
.calendarTable .sunday {
	color: #e41a12;
}

.calendarTable td:nth-child(7n),
.calendarTable .saturday {
	color: #3ba3cd;
}

#select-day {
	background-color: #a9a9a9;
}

.registerForm {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.reserve {
	width: 100vw;
	margin: 1vw 0;
	text-align: center;
	color: #e41a12;
}

.calendarTitle {
	width: 100vw;
	text-align: center;
}

.planChange {
	display: flex;
	justify-content: center;
}

.planTable {
	border-collapse: collapse;
}

.planId {
	width: 2vw;
}

.planTime {
	width: 10vw;
}

.planContent {
	width: 28vw;
}

.noPlan {
	text-align: center;
	font-weight: bold;
	font-size: 1.5rem;
}

.button_kind {
	background: #d3d3d3;
	color: #2b2b2b;
	font-weight: normal;
	font-size: 1rem;
	font-weight: bold;
}

@media screen and (min-width: 768px) {

.l-table {
	width: 450px;
}

.l-submit {
	width: 100px;
}

.two-btn {
	margin: 0 50px;
}

.bbsTable {
	font-size: 1.2rem;
}

.pager a {
	width: 50px;
	font-size: 16px;
}

.pc-only {
	display: flex;
	flex-direction: row-reverse;
	margin-right: 30vw;
}

.calendarTable {
	width: 40vw;
	margin: 0 30vw;
}

.calendarTable td {
	font-size: 2rem;
	height: 4rem;
	cursor: pointer;
}

.calendarTable td:hover {
	background-color: #a9a9a9;
}

.registerForm {
	margin-top: 20px;
}

.reserve {
	font-size: 2rem;
}

.calendarTitle {
	margin: 1vw 0 2vw 0;
	font-size: 3rem;
}

.planChange {
	margin-bottom: 1vw;
}

.planTable {
	width: 40vw;
	font-size: 1rem;
	margin-left: 30vw;
}

.button_kind {
	width: 5vw;
	height: 2vw;
}

#prev-month,
#next-month {
	font-size: 1.5vw;
	cursor: pointer;
}

}

@media (max-width: 767px) {

body {
	margin: 15vw 0;
}

.l-table {
	width: 100vw;
}

.l-submit {
	width: 30vw;
}

.two-btn {
	margin: 0 5vw 0 10vw;
}

.cbform textarea {
	width: 90vw;
}

.cbform .contribution {
	width: 30vw;
}

.bbsTable {
	font-size: .8rem;
}

.pager a {
	width: 10vw;
	height: 4vh;
	font-size: .7rem;
}

.pc-only {
	display: none;
}

.calendarTable {
	width: 90vw;
	margin-left: 4vw;
}

.calendarTable td {
	font-size: 1.5rem;
	height: 1.8rem;
}

.registerForm {
	flex-direction: column;
	margin-bottom: 20px;
}

.reserve {
	font-size: 1.8rem;
}

.calendarTitle {
	font-size: 1.8rem;
}

.planChange {
	margin-bottom: 5vw;
}

.planTable {
	width: 90vw;
	font-size: .8rem;
	margin-left: 5vw;
}

.button_kind {
	width: 30vw;
	height: 10vw;
}

.mgL35 {
	margin-left: 35vw;
}

.mgR10 {
	margin-right: 10vw;
}

.dateInput {
	width: 80vw;
	margin-bottom: 10vw;
}

.timeInput {
	width: 30vw;
	margin-bottom: 10vw;
}

.textInput {
	width: 80vw;
	margin-bottom: 5vw;
}

}

