$darkblue: #0033CC;
$lightblue: #3ba3cd;
$emerald: #0cc0cc;
$lightred: #e41a12;
$orange: #ffeccc;
$lightgray: #d3d3d3;
$btngray: #dddddd;
$darkgray: #a9a9a9;
$gray: #666666;
$black: #2b2b2b;
$white: #ffffff;
