<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>登録情報変更画面</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<link rel="shortcut icon" href="/assets/favicon/favicon.ico">
</head>
<body>
	<form action="mypage.php" method="post">
		<table class="l-table loginForm gray" id="modeTable">
			<thead>
				<tr>
					<th colspan="3">変更画面<br>!name!の情報</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>名前</td>
					<td><input type="text" name="name" value="!name!" placeholder="名前"></td>
				</tr>
				<tr>
					<td>メールアドレス</td>
					<td><input type="text" name="email" value="!email!" placeholder="メールアドレス"></td>
				</tr>
				<tr>
					<td>パスワード</td>
					<td><input type="text" name="pass" id="pass" value="" placeholder="パスワード"></td>
					<td><input type="button" id="btn" value="隠す"></td>
				</tr>
				<tr>
					<td>携帯番号</td>
					<td><input type="text" name="tel" value="!tel!" placeholder="000-0000-0000"></td>
				</tr>
				<tr>
					<td colspan="3" align="center">
						<input type="submit" class="submit l-submit skyblue two-btn" onclick="modeChange(this)" value="完了">
						<input type="submit" class="submit l-submit skyblue two-btn" value="前へ戻る" onclick="modeChange(this)">
						<input type="hidden" name="id" value="!id!">
					</td>
				</tr>
			</tbody>
		</table>
	</form>
	<script src="/assets/js/password.js" charset="utf-8"></script>
	<script src="/assets/js/branch.js" charset="utf-8"></script>
</body>
</html>
